<footer class="text-center text-white" style="background-color: #198754;">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Images -->
    <section class="">
      <div class="row">
        <div class="text-center p-3" style="font-size: 20px;">
          Many thanks to our sponsors!
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <a href="https://www.emag.ro">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp"
                class="w-100"
              />
            </a>
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <a href="https://www.flanco.ro">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/fluid/city/111.webp"
                class="w-100"
              />
            </a>
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <a href="https://www.lidl.ro">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/fluid/city/112.webp"
                class="w-100"
              />
            </a>
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <a href="https://www.carrefour.ro">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/fluid/city/114.webp"
                class="w-100"
              />
            </a>
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <a href="https://www.altex.ro">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/fluid/city/115.webp"
                class="w-100"
              />
            </a>
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <a href="https://www.auchan.ro">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/fluid/city/116.webp"
                class="w-100"
              />
            </a>
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Images -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    2023 RecycleIT Application
  </div>
  <!-- Copyright -->
</footer>
