<div class="container-fluid text-center voucher">
  <div class="row">
    <div class="col">
<!--      <mat-icon class="icon-display" fontIcon="shopping_cart" size="100px"></mat-icon>-->
        <img class="emag" src="/assets/images/emag.png" *ngIf="_retailerName.includes('Emag')">
        <img class="lidl" src="/frontend-recycle-it/src/assets/images/lidl.png" *ngIf="_retailerName.includes('Lidl')">
        <img class="kaufland" src="/assets/images/Kaufland.png" *ngIf="_retailerName.includes('Kaufland')">
        <img class="altex" src="/frontend-recycle-it/src/assets/images/altex.png" *ngIf="_retailerName.includes('Altex')">
        <img class="flanco" src="/assets/images/flanco.png" *ngIf="_retailerName.includes('Flanco')">
        <img class="carrefour" src="/assets/images/carrefour.png" *ngIf="_retailerName.includes('Carrefour')">
        <img class="auchan" src="/assets/images/auchan.png" *ngIf="_retailerName.includes('Auchan')">
      {{ _retailerName }}
    </div>
    <div class="col">
      <mat-icon class="icon-display" fontIcon="local_offer" size="100px"></mat-icon>
      {{ _value }} RON
    </div>
    <div class="col">
      <span class="status-span badge rounded-pill bg-success" *ngIf="_status === 'AVAILABLE'">
        {{ _status }}
      </span>
      <span class="status-span badge rounded-pill bg-warning" *ngIf="_status === 'USED'">
        {{ _status }}
      </span>
      <span class="status-span badge rounded-pill bg-danger" *ngIf="_status === 'EXPIRED'">
        {{ _status }}
      </span>
    </div>
    <div class="col">
      <button *ngIf="_status === 'AVAILABLE'; else elseBlock" class="use-voucher-button badge rounded-pill"
              mat-icon-button (click)="useVoucherForClient(_id)">
        Use voucher
      </button>
      <ng-template #elseBlock>
        <button [disabled]="true" class="used-voucher-button badge rounded-pill"
                mat-icon-button (click)="useVoucherForClient(_id)">
          Use voucher
        </button>
      </ng-template>
    </div>
    <div class="col">
      <button mat-fab color="info" (click)="openVoucherInfoDialog()">
        <mat-icon class="icon-info" fontIcon="info_outline"></mat-icon>
      </button>
    </div>
  </div>
</div>
