<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="../../../../assets/images/small-logo.png" alt="small-logo.png" width="50" height="50" style=""
           class="d-inline-block align-text-center">
      Recycle IT
    </a>
    <button type="button" class="btn btn-dark" (click)="logout()">
      <div class="gap-2 with-icon">
        <mat-icon fontIcon="logout"></mat-icon>
        Logout
      </div>
    </button>
  </div>
</nav>

<div class="requests-list">
  <div class="requests-list-title-container">
    <h1 class="requests-list-title">Manage requests</h1>
  </div>
  <div class="no-requests-message-container" *ngIf="requestsList.length == 0">
    <h1 class="no-requests-message">No requests available!</h1>
  </div>
  <div class="container-fluid">
    <mat-list>
      <app-request *ngFor="let request of requestsList"
                   [_requestId]="request._id"
                   [_clientId]="request._client.id"
                   [_companyId]="request._company._id"
                   [_wasteType]="request.type"
                   [_wasteQuantity]="request.quantity"
                   [_requestStatus]="request.status"
                   [_dateCreated]="request.dateCreated">
      </app-request>
    </mat-list>
  </div>
</div>
