.col {
  font-size: 30px;
  color: white;
}

.row {
  display: flex;
  align-items: center;
  height: 12vh;
  border: 1px solid white;
  background: rgba(1, 1, 1, 0.8);
}

.icon-display {
  transform: scale(2);
  color: green;
}

.voucher {
  grid-template-columns: auto auto auto auto 40px 40px 40px;
}

.details-text {
  min-height: 30px;
  background: rgba(1, 1, 1, 0.8);
  color: white;
  line-height: 30px;
  resize: none;
  text-align: center;
  font-size: 20px;
  width: 500px;
}
