<div class="top-page-div">
  <div class="counters-container" style="display: flex; justify-content: center;">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="total-collected-waste">
          <p id="amount-of-kg-collected" class="counter-count"></p>
          <p class="kg-collected-p">Total kilograms collected</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="total-vouchers">
          <p id="amount-of-generated-vouchers" class="counter-count"></p>
          <p class="total-vouchers-p">Generated vouchers</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="total-customers">
          <p id="amount-of-customers" class="counter-count"></p>
          <p class="total-customers-p">Customers</p>
        </div>
      </div>
    </div>
  </div>
  <div class="title">
    <div class="title-container">
      <h3 class="title-text">Make a request below</h3>
    </div>
  </div>
</div>

<div class="bottom-page-div">
  <form method="post" class="form-waste-register">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title text-center text-uppercase">
          Join the fight against pollution
        </h3>
      </div>
      <div class="card-body text-center py-2">
        <h4>Every kilogram of waste collected is a step closer towards cleaning our planet!</h4>
        <div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Success!</strong> Your recycle request has been submitted. Check your email!
          <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="row align-items-stretch py-4 gy-1 gx-2">
          <div class="col">
            <input checked type="radio" class="btn-check" name="options-outlined" id="paper-cardboard" autocomplete="off" value="PAPER">
            <label class="btn btn-outline-success w-100" for="paper-cardboard" style="font-size: 30px">Paper & cardboard</label>
          </div>
          <div class="col">
            <input type="radio" class="btn-check" name="options-outlined" id="plastic" autocomplete="off" value="PLASTIC">
            <label class="btn btn-outline-success w-100 p-4" for="plastic" style="font-size: 36px">Plastic</label>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <input type="radio" class="btn-check" name="options-outlined" id="metal" autocomplete="off" value="METAL">
            <label class="btn btn-outline-success w-100 p-4" for="metal" style="font-size: 36px">Metal</label>
          </div>
          <div class="col">
            <input type="radio" class="btn-check" name="options-outlined" id="electronic-devices" autocomplete="off" value="ELECTRONICS">
            <label class="btn btn-outline-success w-100" for="electronic-devices" style="font-size: 30px">Electronic devices</label>
          </div>
          <div class="w-100"></div>
        </div>
      </div>
      <div class="card-footer">
        <div class="form-floating mb-3">
          <select class="form-control" id="companies" name="companies" [(ngModel)]="selectedCompany" required>
            <option value="" disabled selected hidden>Choose the company you want</option>
            <option *ngFor="let company of companies" [ngValue]="company.id">{{company.firstname}}</option>
          </select>
        </div>

        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="input-waste-quantity" name="input-waste-quantity"
                 placeholder="Enter the recycled quantity (Kg)" [(ngModel)]="wasteQuantity" required>
          <label for="input-waste-quantity" class="form-label">Recycled quantity (Kg)</label>
          <div *ngIf="errorMessage !== ''" class="alert alert-warning" id="input-waste-quantity-tooltip">
            <strong> Warning!</strong> {{errorMessage}}
          </div>
        </div>
        <button type="button" class="btn btn-primary w-100" id="recycle-button" style="font-size: 30px" (click)="addRecycledWaste()">Recycle now!</button>
      </div>
    </div>
  </form>
</div>
