<div class="top-page-div" >
  <div class="counters-container" *ngIf="!isLoading">
    <div class="row">
      <div class="col">
        <div class="total-collected-waste">
          <p id="amount-of-kg-collected" class="counter-count"></p>
        </div>
        <div class="kg-collected-p-div">
          <p class="kg-collected-p">Total kilograms of collected waste</p>
        </div>
      </div>

      <div class="col">
        <div class="total-vouchers">
          <p id="amount-of-generated-vouchers" class="counter-count"></p>
        </div>
        <div class="total-vouchers-p-div">
          <p class="total-vouchers-p">Total generated vouchers</p>
        </div>
      </div>

      <div class="col">
        <div class="total-customers">
          <p id="amount-of-customers" class="counter-count"></p>
        </div>
        <div class="total-customers-p-div">
          <p class="total-customers-p">People have recycled for our cause</p>
        </div>
      </div>
    </div>
  </div>
  <div class="loading-spinner" *ngIf="isLoading">
    <app-loading-spinner-login></app-loading-spinner-login>
    <p class="sending-text">Sending recycle request...</p>
  </div>
</div>



<div class="bottom-page-div">
  <form method="post" class="form-waste-register" [formGroup]="requestForm" (ngSubmit)="addRecycledWaste(requestForm)"
        *ngIf="!isLoading">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title text-center text-uppercase">
          Join the fight against pollution
        </h3>
      </div>
      <div class="card-body text-center py-2">
        <h4>Every kilogram of waste collected is a step closer towards cleaning our planet!</h4>
        <div class="row align-items-stretch py-4 gy-1 gx-2">
          <div class="col">
            <input checked type="radio" class="btn-check" name="options-outlined" id="paper-cardboard" autocomplete="off" value="PAPER">
            <label class="btn btn-outline-success w-100" for="paper-cardboard" style="font-size: 30px">Paper & cardboard</label>
          </div>
          <div class="col">
            <input type="radio" class="btn-check" name="options-outlined" id="plastic" autocomplete="off" value="PLASTIC">
            <label class="btn btn-outline-success w-100 p-4" for="plastic" style="font-size: 36px">Plastic</label>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <input type="radio" class="btn-check" name="options-outlined" id="metal" autocomplete="off" value="METAL">
            <label class="btn btn-outline-success w-100 p-4" for="metal" style="font-size: 36px">Metal</label>
          </div>
          <div class="col">
            <input type="radio" class="btn-check" name="options-outlined" id="electronic-devices" autocomplete="off" value="ELECTRONICS">
            <label class="btn btn-outline-success w-100" for="electronic-devices" style="font-size: 30px">Electronic devices</label>
          </div>
        </div>
        <mat-error *ngIf="errorMessageWasteType">
          Illegal request type provided! Should be one of: METAL, ELECTRONICS, PAPER or PLASTIC.
        </mat-error>
      </div>
      <div class="card-footer">
        <div class="form-floating mb-3">
          <mat-form-field appearance="fill">
            <mat-label *ngIf="companies.length!==0">Choose the company you want</mat-label>
            <mat-label *ngIf="companies.length===0">No companies available in your county!</mat-label>
            <mat-select formControlName="selectedCompany" required [disabled]="companies.length===0">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let company of companies" [value]="company.id">
                {{company.firstname}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="errorMessageCompany">
              Company does not exist!
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-floating mb-3">
          <mat-form-field floatLabel="auto">
            <mat-label>Recycled quantity (kg)</mat-label>
            <input type="number" matInput min="1" required formControlName="wasteQuantity">
            <mat-error *ngIf="errorMessageQuantity">
              Illegal request quantity provided! Can not be lower than 0!
            </mat-error>
          </mat-form-field>
        </div>
        <button type="submit" class="btn btn-primary w-100" id="recycle-button"
                style="font-size: 30px" [disabled]="companies.length===0">Recycle now!</button>
      </div>
    </div>
  </form>
</div>
