<div class="container-fluid text-center request">
  <div class="row">
    <div class="col">
      <mat-icon class="icon-display" fontIcon="recycling" size="100px"></mat-icon>
      Plastic
    </div>
    <div class="col">
      100 Kg
    </div>
    <div class="col">
      PENDING
    </div>
    <div class="col-md-1">
      <button mat-fab color="success">
        <mat-icon fontIcon="check"></mat-icon>
      </button>
    </div>
    <div class="col-md-1">
      <button mat-fab color="warn">
        <mat-icon fontIcon="close"></mat-icon>
      </button>
    </div>
    <div class="col-md-1">
      <button mat-fab color="info">
        <mat-icon class="icon-info" fontIcon="info_outline"></mat-icon>
      </button>
    </div>
  </div>
</div>
